<div class="gists-table-container">
  <table id="gists-table">
    <tr>
      <th>Owner</th>
      <th>Notebook Name</th>
      <th>Updated At</th>
      <th></th>
    </tr>
    <ng-container *ngFor="let gist of paginatedGists; trackBy: gistIdentifier">
      <tr>
        <td class="gist-owner-cell">
          <img
            class="gist-owner-avatar"
            src="{{ gist.owner.avatar_url }}"
            alt="{{ gist.owner.login }}"
          />
          <h4>{{ gist.owner.login }}</h4>
        </td>
        <td>
          {{ gist.description ? gist.description.slice(0, 10) + "..." : "N/A" }}
        </td>
        <td>{{ gist.updated_at }}</td>
        <td class="gist-actions-cell">
          <div class="actions-icons">
            <button (click)="onForkGist(gist.id)">
              <img src="forkIcon.svg" alt="Fork" />
            </button>
            <button (click)="onStarGist(gist.id)">
              <img src="starIcon.svg" alt="Star" />
            </button>
          </div>
        </td>
      </tr>
    </ng-container>
  </table>
  <app-pagination
    [items]="gistsList"
    [itemsPerPage]="itemsPerPage"
    [currentPage]="currentPage"
    (paginatedItems)="onPaginatedItems($event)"
    (pageChanged)="onPageChange($event)"
  />
</div>
