<header>
  <app-container>
    <nav>
      <a routerLink="/">
        <img src="emumbaLogo.svg" alt="Emumba Logo" />
      </a>
      <ul *ngIf="!isAuthenticated(); else userMenu">
        <li>
          <button class="btn">
            <a routerLink="login" (click)="loginWithGitHub()">Login</a>
          </button>
        </li>
      </ul>
      <ng-template #userMenu>
        <div class="user-menu">
          <img
            class="avatar"
            src="{{ user?.photoURL }}"
            alt="{{ user?.displayName }}"
            (click)="toggleMenu()"
          />
          <div class="dropdown" *ngIf="menuOpen" onclick="toggleMenu()">
            <h4>{{ user?.displayName }}</h4>
            <div class="links">
              <a
                class="link"
                routerLink="gist-user-profile"
                (click)="toggleMenu()"
              >
                Profile
              </a>
              <a class="link" routerLink="gist/create" (click)="toggleMenu()">
                Create Gist
              </a>
            </div>
            <button class="btn" (click)="logout()">Logout</button>
          </div>
        </div>
      </ng-template>
    </nav>
  </app-container>
</header>
