.gist-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--base-color-2);
  border-radius: var(--radius-sm);
  overflow: hidden;
}

.gist-json {
  background-color: var(--base-color-3);
  min-height: 200px;
  max-height: 200px;
  overflow-y: auto;
  padding: var(--spacing-sm);
}

.gist-info {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm);
}

.gist-owner {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 50%;
  flex: 1;
}

.gist-file {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--primary-color);
  font-size: var(--size-sm);
}

.gist-owner-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.muted-text {
  font-size: 15px;
  color: var(--muted-text);
}

.actions-icons {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.actions-icons button {
  all: unset;
  cursor: pointer;
}

.actions-icons button:hover {
  opacity: 0.7;
}
