<app-page-wrapper>
  <app-container>
    <!-- Loading state -->
    <div class="skeleton-container" *ngIf="gistsLoading">
      <div class="skeleton-user-info">
        <app-skeleton-loading
          class="skeleton-avatar"
          height="100px"
          width="100px"
        />
        <app-skeleton-loading height="20px" width="150px" />
        <app-skeleton-loading height="20px" width="200px" />
        <app-skeleton-loading height="40px" width="150px" />
      </div>
      <div class="skeleton-gists-list">
        <app-skeleton-loading height="200px" *ngFor="let i of [1, 2, 3, 4]" />
      </div>
    </div>

    <!-- Loaded Content -->
    <div class="gist-profile" *ngIf="user$ | async as user">
      <div class="user-info">
        <img
          [src]="user.photoURL || 'default-avatar.png'"
          [alt]="user.displayName"
          class="user-avatar"
        />
        <div class="user-details">
          <h2>{{ user.displayName }}</h2>
          <p class="muted-text">{{ user.email }}</p>
        </div>
        <a
          target="_blank"
          rel="noopener noreferrer"
          [href]="'https://github.com/' + getScreenName(user)"
        >
          <button class="btn primary">View Github Profile</button>
        </a>
      </div>

      <!-- Gists Section -->
      <div class="gists-list">
        <h2>Your Gists</h2>

        <ng-container *ngIf="gists$ | async as gists">
          <div *ngIf="gists.length === 0" class="empty-state">
            <p>No gists found.</p>
          </div>

          <div class="gists-cards" *ngIf="gists.length > 0">
            <app-gist-card
              *ngFor="let gist of gists; trackBy: gistIdentifier"
              [gist]="gist"
            />
          </div>
        </ng-container>
      </div>
    </div>
  </app-container>
</app-page-wrapper>
