<app-page-wrapper>
  <app-container className="home-container">
    <div class="page-header">
      <h2 class="page-title">Public Gists</h2>
      <div class="view-toggle">
        <app-toggle-view
          [options]="viewOptions"
          (viewChange)="onViewChange($event)"
        />
      </div>
    </div>
    <ng-container *ngIf="loadingGists; else gistsListContent">
      <app-gists-loading />
    </ng-container>
    <ng-template #gistsListContent>
      <div [ngSwitch]="viewMode">
        <app-gists-table-view *ngSwitchCase="'list'" [gistsList]="gistsList" />
        <app-gists-card-view *ngSwitchCase="'grid'" [gistsList]="gistsList" />
      </div>
    </ng-template>
  </app-container>
</app-page-wrapper>
