.gist-form {
  max-width: 700px;
  margin: var(--spacing-lg) auto;
}

.file-block {
  margin-block: var(--spacing-md);
  display: flex;
  border: 1px solid var(--base-color-2);
  flex-direction: column;
  border-radius: var(--spacing-xs);
  overflow: hidden;
  min-height: 250px;
}

.file-block-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.file-block-header {
  padding: var(--spacing-sm);
  background-color: var(--base-color-4);
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.file-block input {
  max-width: 300px;
}

.file-block textarea {
  border-radius: 0;
  border: none;
  flex: 1;
}

.remove-btn {
  all: unset;
  cursor: pointer;
  display: inline;
}

.add-btn {
  background: #28a745;
  color: white;
}

.action-btns {
  display: flex;
  gap: var(--spacing-sm);
  align-items: flex-start;
  justify-content: space-between;
}
