@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap");

:root {
  --base-color: #fff;
  --base-color-2: #e3e3e3;
  --base-color-3: #efefef;
  --base-color-4: #fafafa;
  --primary-color: #003b44;

  --base-accent: #3d3d3d;
  --muted-text: #7a7a7a;

  --spacing-xs: 0.2rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;

  --size-sm: 1rem;
  --size-md: 1.5rem;
  --size-lg: 2rem;
  --size-xl: 3rem;

  --radius-xs: 0.1rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Inter", serif;
  background-color: var(--base-color);
  color: var(--base-accent);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  color: var(--base-accent);
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #000;
  border-radius: var(--radius-sm);
  background-color: #fff;
  color: #000;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.btn.primary {
  background-color: var(--primary-color);
  color: var(--base-color);
}

.text-muted {
  color: var(--muted-text);
}

button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

input,
textarea {
  width: 100%;
  padding: var(--spacing-sm);
  border: 1px solid var(--base-color-2);
  border-radius: var(--radius-sm);
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}
